<%- include("../includes/head.ejs") %> 
    <style>
      body {
        background-image: url("/images/mailsentbg.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      }
      a{
        text-decoration: none;
        font-weight: bolder;
        color: aliceblue;
        padding: 10px;
        border:solid gold 2px;
      }

      a:hover{
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1 style="color:aliceblue">Mail has been sent!</h1>
    <a href="/login">Back to login</a>
  </body>
</html>
